---
import BaseLayout from "../layouts/BaseLayout.astro";
import ScrollReveal from "../components/ScrollReveal";
import AboutSection from "../components/sections/AboutSection.astro";
import FinalCtaSection from "../components/sections/FinalCtaSection.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import ProblemSection from "../components/sections/ProblemSection.astro";
import ServicesSection from "../components/sections/ServicesSection.astro";
import SolutionSection from "../components/sections/SolutionSection.astro";
import TestimonialsSection from "../components/sections/TestimonialsSection.astro";
import styles from "./index.module.scss";

const whatsappLink = "https://wa.me/5511999999999?text=Ol%C3%A1%2C%20quero%20come%C3%A7ar%20meu%20treino%20com%20o%20Lucas%20Forte.";
---

<BaseLayout>
  <ScrollReveal client:load />

  <main class={styles.pageShell}>
    <HeroSection whatsappLink={whatsappLink} />
    <ProblemSection />
    <SolutionSection />
    <ServicesSection />
    <TestimonialsSection />
    <AboutSection />
    <FinalCtaSection whatsappLink={whatsappLink} />
  </main>
</BaseLayout>
